<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" xmlns="http://logging.apache.org/log4j/2.0/config">
    <Appenders>
        <Console name="consoleAppender" target="SYSTEM_ERROR">
            <PatternLayout pattern=""/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="consoleAppender"/>
        </Root>
    </Loggers>
</Configuration>